<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Profit Prediction </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="R&D Spend" placeholder="R&D Spend" required="required" />
        <input type="text" name="Administration" placeholder="Administration" required="required" />
		<input type="text" name="Marketing Spend" placeholder="Marketing Spend" required="required" />
        <input type="text" name="Florida" placeholder="Florida(1 or 0)" required="required" />
        <input type="text" name="New York" placeholder="New York(1 or 0)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

{% block content %}

{% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Copyright</strong> by <a href="https://www.linkedin.com/in/supratik-biswas-a82b45103/">Supratik Biswas</a>.
                This application is a prediction model which uses Multiple linear Regression.
            </p>
        </div>
    </footer>

</body>
</html>
